<div class="row">
    <div class="col-xs-12">
<form #shoppingForm ="ngForm" (ngSubmit)="addIngredient(shoppingForm)">
    <div class="row">
        <div class="col-sm-5 form-group">
            <label for="name" >Ingredient Name</label>
            <input required id="name" type="text" class="form-control" name="ingredName" ngModel> 
        </div>
        <div class="col-sm-3 form-group">
            <label for="amnt" >Ingredient Amount</label>
            <input required pattern="^[1-9]+[0-9]*$" id="amnt" type="number" class="form-control" name="ingredAmount" ngModel> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button [disabled]="!shoppingForm.valid" class="btn btn-success" type="submit" >{{editMode?'Update':'Add'}}</button>&nbsp;
            <button *ngIf="editMode " (click)="delete()" type="button" class="btn btn-danger">Remove</button>&nbsp;
            <button  type="button" (click)='shoppingForm.reset();editMode=false' class="btn btn-warning">Clear</button>
        </div>
    </div>
</form>
    </div>
</div>
