<h2>Custom attribute diectives using @Directives</h2>
<p highLight >This paragraph is colored due to renderd directive</p>
<br>
<br>
<h2>Custom Strucure Directyive</h2>
<p>this structure directive is opposite of ngif and takes bolean value</p>
<h4 *appUnless="booleanVar"> This will be printed if the appunless condition is false</h4>
<h4 *appUnless="booleanVar"> This will be not printed if the appunless condition is true</h4>

<h2>Inter component event Emitter through sertvices</h2>
<button class="btn btn-success" (click)="innterComponentEventemit()">Click to emit </button>

<h2>for assignmet 2 inter componet service comm</h2>
<button class="btn-danger" (click)=" removeElementFromService()">Remove from service array</button>
<div *ngFor="let a of localarray">
    <li>{{a}}</li>
</div>

<h2>From typescript call the other route</h2>
<button class="btn btn-success" (click)="routeToaotherComp()">Go to Assignment</button>
<h2>self route call with params</h2>
{{user.id}} {{user.name}}
<!-- if params sscribe is not used this will not updatre the above user -->
<a routerLink="/directives/25/jwsue">Id 25</a>
<br>
<!-- queryParams helps to send params from html and fragment apperas after # -->
<a routerLink="/directives" [queryParams]="{id:'12',name:'hdhdu'}" fragment="loading">Id 12</a>