<p>employee-details works!</p>
<ul *ngFor="let a of   employeeList">
    <li (click)="onEmpClick(a)">{{a?.name}} {{a.joining_date}}</li><!-- ?. checks whether the values are being initialized or not -->
    
</ul>
{{ errorMsg }}
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"><!--form  group binds with the form group-->
    <input type="text" id="textName" formControlName="fullName">
    <label for="textName">Enter Name</label>
    <input type="text" id="email"  formControlName="email">
    <label for="email">Enter Email</label>
    <button >Submit</button>

</form>