<div class="row">
<div class="col-md-5">
   <!-- This is reqiured through custom events -->
    <!-- <app-recipie-list (selectedRec)="selectedRec =$event"></app-recipie-list>  -->
    <app-recipie-list ></app-recipie-list> 
</div>
<div class="col-md-7">
  <!-- This is reqiured through custom events -->
  <!--  <app-recipie-details *ngIf="selectedRec ;else info" [recipieSelected]="selectedRec"></app-recipie-details>
    
 <ng-template #info>
<p> select a reciepie!</p> 
</ng-template> -->
<!-- This will make recipie start component to show  that plaease selst a recipe -->
<router-outlet></router-outlet>
</div>
</div>
