<!-- parctise -->
<!-- We cab even give the route in anchor href but this will make the whole app to reload
That is why user routerLink -->
<button class="btn" routerLink="/basics" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Basics</button> &nbsp;
<button class="btn" routerLink="/assignments" routerLinkActive="active">Assignments</button>&nbsp;
<button class="btn" [routerLink]="['/directives']" routerLinkActive="active">Directives</button>
<router-outlet></router-outlet>

<!--2  This is the course application-->
    <!-- <app-header (componentType)="onComponentLoad($event)"></app-header>
<app-recipies  *ngIf="selectedComp==='recipie'"></app-recipies>

<app-shopping-list  *ngIf="selectedComp==='shopping'"></app-shopping-list>  -->

<!-- 3 This is to test intercomponent calls-->
<!-- <app-first *ngFor="let dynamicTest of appDynamicList" [dynProperty]="dynamicTest"
(sendEvent)="storeInParent($event)"> {{dynamicTest}}</app-first> -->

<!-- This is tto test assignmet 4 -->

<!-- <app-assignment (startGame)="storeData($event)"></app-assignment>
<app-assignment  [dynamicCallComponent]="counter"></app-assignment> -->