<h2>Reactive  Login Form</h2>
<form [formGroup] ="loginForm">
   <div formGroupName="userName">
    <div>
        <label for="first">User FirstName</label>
        <input [class.isWrong]="loginForm.get('userName.firstName').invalid " formControlName ="firstName" type="text" id="first">
    </div>
    <div>
        <label for="last">User LastName</label>
        <input formControlName ="lastName" type="text" id="last">
    </div>
</div>
    <div>
        <label for="password"> Password</label>
        <input [class.isWrong]="loginForm.get('pass').invalid && pass.touched" formControlName ="pass" type="password"id ="password">
   <h3 *ngIf ="pass.errors ?.minlength" class="isWrong">password should have min 4 characters</h3>
   <h3 *ngIf ="pass.errors ?.forbiddenPassword" class="isWrong">password not be {{pass.errors ?.forbiddenPassword.value}}</h3>

</div>
    <div>
        <label for="confirmpassword">Confirm Password</label>
        <input formControlName ="confirm" type="password"id ="confirmpassword">
        <h3 *ngIf ="loginForm.errors ?.mismatch" class="iswrong"> password and confirm password {{loginForm.errors ?.mismatch.value}}</h3>
    </div>
   
    <div>
        <button type="submit">Submit</button>
    </div>
    <br>
    <br>
    <div>
        <button type="button" (click)="loadData()">load data</button>
    </div>
    {{loginForm.value | json}}
</form>
