<form [formGroup] ="laptopDetail" >
<div>
<label class="labelColor">enter Laptop Asset Id</label>
<input class="textBoxBoundary" type="number" formControlName="lapId">
</div>
<div>
<label class="labelColor"> Enter Brand Name</label>
<input class="textBoxBoundary" type="text" formControlName="assetBrand">
</div>
<div>
    <button type="submit" (click)="saveLaptopDetails()">Submit laptop  details</button>
</div>

</form>

<div>
    <label class="labelColor">Enter laptop id</label>
    <input class = "textBoxBoundary" required type="number" #getId>
    <button (click)="getLaptopDetails(getId.value)" >Get LAptop details</button>
    {{ this.LapObject | json}}
</div>
