<div class="row">
    <div class="col-xs-12">
<img src="" href="#" alt="imf" class="img-responsive"> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <h1>Recipie Name</h1> 
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
<button class= "btn btn-primary dropdown-toggle">manage recipe <span class="caret"></span></button>
<ul class="dropdown-menu">
<li><a href="#"  >To Shoppin</a></li>
<li><a href="#" > Edit recipie </a></li>
 <li><a href="#" > Delete recipie </a></li>
</ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
<p>Description</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       <p>Ingredients</p>
    </div>
</div>